<% title('My Web Brain: Your Brain on the Internet',
  embelish_page_title:false,
  suppress_heading: true) %>

<div class="jumbotron">
  <h1>My Web Brain</h1>
  <p>Your Brain on the Internet</p>
  <p><%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %></p>
</div>

<p>
  My Web Brain is a GTD-style productivity tool. It allows you to collect your thoughts, process 
  them into actions, reminders and reference material.
</p>

<%= link_to image_tag("mywebbrain_logo.png", alt: "My Web Brain"), 'http://mywebbrain.com/' %>
