<% title "Welcome", tagline: 'to My Web Brain' %>

<p class="lead">Thank you for creating an account for My Web Brain</p>

<p>
  We've just sent you an email to confirm the email address you provided. When
  you get the opportunity, please click on the confirmation link within that 
  email to verify that the email address belongs to you. 
</p>

<p>You can start using My Web Brain straight away, if you haven't already.</p>
