<% @title = "Actions" %>
<% @page_id = "edit-action-page" %>
<% @active_tab = "tasks" %>

<h1>Editing task</h1>

<%= render 'form' %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>
