<% @title='Home Page' %>
<% @page_id='home-page' %>
<% @active_tab='home' %>


<div class="row">
  <div class="span6">
    <h2>More than Task List</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, consequuntur assumenda quos laborum accusamus quo esse qui doloribus. Deleniti blanditiis voluptatum harum tempore quae ipsam dolore sapiente illo labore doloribus.</p>
  </div>

  <div class="span6">
    <h2>Get Started</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi, labore dolorem corporis repellendus rem velit voluptates reiciendis esse reprehenderit nesciunt! Qui, nam, ratione consequuntur quod voluptas eum enim asperiores quidem.</p>
  </div>
</div>