<footer>
  <small>
    <nav>
    <ul class="list-inline">
      <li class="text-muted">My Web Brain &copy; 2014</li>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", about_path %></li>
    </ul>
    </nav>
  </small>
</footer>